@charset "utf-8";
/* CSS Document */

div.margin
{
	background:#999;
	font-family:"Courier New", Courier, monospace;
	font-size:14px;
	padding:12px;
	border:thick:#999;
}

div.header
{
	padding: 20px ;
	background-color:gray;
	color:white;
	clear:left;	
}