@charset "utf-8";
/* CSS Document */

p 
{
	color:black ;
}

html
{
	background-color:#CCC ;
}

/*body
{
	margin-top:100px ;
	margin-bottom: 100px ;
	margin-left:150 px ;
	margin-right:150px ;
}
*/
body 
{
	width : 1000px ;
	margin : 0  , auto ;
	background-color:#999 ;
	padding :0 100px 100px  100px ;/* 20px // top, right , bottom , left // */
	border:5px solid black ;
	margin-left:100px ;

}


h1
{
	font-size:60px ;
	color:#009 ;
	text-align:center ;
	margin:0;
	padding:20px 0 ;
	text-shadow: 5px 5px 1px black ;
	
}

p, ul 
{
	font-size:16px ;
	line-height:2 ;
	letter-spacing:1px ;
}